* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Red Hat Display", sans-serif;
	font-size: 100%;
	background: #132440;
}

.site-wrapper {
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
}

.header-link {
	display: flex;
	justify-content: flex-end;
	padding-top: 20px;
}

.portfolio-link {
	// position: absolute;
	// top: 20px;
	// right: 20px;
	text-decoration: none;
	color: #F4F4F4;
	font-size: 1rem;
	border: 2px solid #F4F4F4;
	padding: 5px 10px;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
	&:is(:hover, :focus) {
		background-color: #F4F4F4;
		color: #132440;
	}
}

main {
	.intro {
		display: flex;
		align-items: center;
		// @media(min-width: 480px) {
		//     height: 100vh;
		// }
		h1 {
			font-size: 3rem;
			text-align: center;
			color: #F4F4F4;
		}
		h2 {
			text-align: center;
			color: #F4F4F4;
			margin: 1rem 0 2rem;
		}
	}

	.project-list {
		width: max-content;
		margin: 0 auto 20px;
		list-style-position: inside;
		padding-left: 15px;
		color: #F4F4F4;
		@media(min-width: 480px) {
			column-count: 2;
		}
		@media(min-width: 768px) {
			column-count: 3;
		}
		li {
			padding: 0 10px 5px 0;
			a {
				text-decoration: none;
				color: #F4F4F4;
				&:is(:hover, :focus) {
					text-decoration: underline;
				}
			}
		}
	}
}

body.error-page {
	display: flex;
	justify-content: center;
	align-items: center;
	// font-family: "Geist Mono", monospace;
	font-family: 'Space Mono', monospace;
	height: 100vh;
	background: #1e1e1e;
	color: #F4F4F4;
	h1 {
		font-size: 10rem;
		text-align: center;
		color: #F4F4F4;

		@media(min-width: 768px) {
			font-size: 15rem;
		}
	}
	a {
		text-align: center;
		color: #F4F4F4;
	}
}